@import-normalize;
@import 'font.css';
@import 'header.css';
@import 'ingredient-list.css';
@import 'recipe.css';
@import 'info.css';
@import 'button.css';
@import 'recipe-edit.css';
@import 'search-bar.css';

*,
*::before,
*::after {
    font-family: Gotham Rounded,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

.mr-1 {
    margin-right: .2rem;
}