.recipe-list {
    min-height: 100vh;
    width: 50%;
    border-right: 1px solid black;
}

.recipe-list__add-recipe-btn-container {
    text-align: center;
}

.ingredient__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: .1rem;
    column-gap: 1.6rem;
    justify-content: flex-start;
}